.Home-Left-Col {
    height: 100vh;
    background-color: #32a280;
}

.Home-Row-2 {
    height: 10vh;
    background-color: #000000;
}

.Home-Row-3 {
    height: 90vh;
    background-color: #121111;
}

.Home-Row-3::-webkit-scrollbar {
    display: none;
}