.Home-Left-Navbar {
    height: 100vh;
}

.Login-Navbar {
    height: 12vh;
}

.Login-Spotify {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.Login-Spotify-Logo {
    color: #32a280;
    height: 50px;
    width: 50px;
    margin-right: 5px;
}

.Login-Spotify-Text {
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: white;
    cursor: default;
    margin-left: 5px;
}

.Login-Container {
    height: 82vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Login-Form-Text-Center {
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.Login-Form-Text-Center span {
    font-size: 20px;
}

.Login-Form-Label {
    font-size: 24px;
    font-weight: bold;
    color: #32a280;
}

.Login-Form-Control {
    border: 2px solid #32a280;
    border-radius: 12px;
    width: 100%;
    font-size: 20px;

}

.Login-Form-Text {
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.Login-BTN-Container {
    display: flex;
    justify-content: flex-end;
}

.Login-BTN {
    background-color: #32a280;
    border: none;
    border-radius: 25px;
    padding: 5px 25px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.Login-BTN:hover {
    background-color: #218e72;
}

.Login-Line {
    border: 1px solid #32a280;
    margin: 20px 0px;
}

.Login-Signup-BTN-Container {
    display: flex;
    justify-content: center;
}

.Login-Signup-BTN {
    width: 100%;
    background-color: white;
    border-radius: 25px;
    margin: 10px 0px;
    padding: 5px 25px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.Login-Signup-BTN:hover {
    background-color: #218e72;
}