.heading {
    margin-left: 35px;
    color: white;
    font-weight: bold;
}

.Card {
    height: 35vh;
    width: 43vw;
    margin-left: 35px;
    color: white;
    background-color: black;
    cursor: pointer;
}


.Card-Img-Top {
    height: 20vh;
    width: 33vw;

}

.Card-Body {
    overflow: hidden;
    cursor: default;
}

.Card-Title {
    overflow: hidden;
}